<div class="container">
	<div class="row">
		<p>
			<button class="btn btn-primary" [routerLink]="['..', 'new-task']">Add task</button>
		</p>
	</div>
	<div class="row">
		<small>Last updated: {{ (lastUpdated == null)? 'never': (lastUpdated | amCalendar) }}.
			<a href="javascript:void(0)" (click)="update()">Update</a>			
		</small>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Script</th>
					<th scope="col">Schedule</th>
					<th scope="col">Enabled</th>
					<th scope="col">Next run</th>
					<th scope="col">Last run</th>
					<th scope="col">Delete</th>
					<th scope="col">Logs</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let task of tasks; let i = index">
					<td>{{ task.name }}</td>
					<td><a href="javascript:void(0)" (click)="cloneTaskForEdit(i); openScriptModal(editScript)">Edit</a></td>
					<td><a href="javascript:void(0)"  (click)="cloneTaskForEdit(i); openScheduleModal(editSchedule)">Edit</a></td>
					<td> 
					<label class="switch switch-default switch-pill switch-primary">
					  <input type="checkbox" class="switch-input" (change)="enableDisable(task.id, task.enabled)" [(ngModel)]="task.enabled">
					  <span class="switch-label"></span>
		             <span class="switch-handle"></span>
					</label>
					</td>
					<td>{{ (task.next_run !== null) ? (task.next_run | amCalendar ) : "Disabled" }}</td>
					<td>
						<span *ngIf="lastInvocation[task.id]!==undefined">
							<ng-template #lastInvocationTemplate>
								<p><strong>Scheduled time:</strong> {{ lastInvocation[task.id].scheduled_to_start_at | amCalendar}} </p>
								<p><strong>Started at:</strong> {{ lastInvocation[task.id].started_at | amCalendar }} </p>
								<p><strong>Finished at:</strong> {{ lastInvocation[task.id].finished_at | amCalendar }} </p>
								<p><strong>Error:</strong><code> {{ lastInvocation[task.id].error_message }}</code> </p>
							</ng-template>
							<button type="button" class="btn btn-sm btn-outline-primary" triggers="focus" [popover]="lastInvocationTemplate">
							{{ lastInvocation[task.id].success? 'OK': 'ERROR'}}
							</button> 
						</span>
						
					</td>
					<td>
						<!--Delete task-->
						<button (click)="confirmations[task.id]=true" *ngIf="!confirmations[task.id]" type="button" class="btn btn-sm btn-danger">Delete</button>
						<div *ngIf="confirmations[task.id]">
							<span>Confirm:</span>
							<button (click)="deleteTask(task.id)" type="button" class="btn btn-danger">Yes</button>
							<button (click)="confirmations[task.id]=false" type="button" class="btn btn-info">Cancel</button>
						</div>
					</td>
					<td>
						<a href="javascript:void(0)" [routerLink]="['..', 'logs', task.id]">Logs</a>
					</td>
				</tr>
			</tbody>
			
		</table>
		<div *ngIf="tasks.length==0">
			<div class="alert alert-info" role="alert">
			  <h4 class="alert-heading">No tasks</h4>
			  <p>You don't have any tasks yet. You can add one by clicking on the "Add task" button.</p>
			  <hr>
			  <p class="mb-0">Tasks are regularly scheduled AQL or shell scripts. Schedules are specified with CRON-like intervals.</p>
			</div>
		</div>
	</div>
</div>
<!-- Modals -->
<ng-template #editSchedule>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Schedule</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="scheduleModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group col-sm-8">
         <label for="schedule">Schedule</label>
         <input [(ngModel)]="editTask.schedule" type="text" class="form-control" id="city" placeholder="Enter schedule (CRON: TODO)">
      </div>
	  <div class="form-check checkbox">
         <input [(ngModel)]="editTask.coalesce" class="form-check-input" type="checkbox" value="" id="check2">
         <label class="form-check-label" for="check1">
           Coalesce executions?
         </label>
      </div>
	  <button type="button" class="btn btn-primary" (click)="updateSchedule();scheduleModalRef.hide()">Save</button>
	  <button type="button" class="btn btn-secondary" (click)="scheduleModalRef.hide()">Cancel</button>
  </div>
</ng-template>

<ng-template #editScript>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Script</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="scriptModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
	  	<!--Edit script form-->
	    <div class="form-group">
	      <label for="script">Command</label>
	      <input [(ngModel)]="editTask.command" type="text" class="form-control" id="vat" placeholder="Command or script location">
	   </div>
	   <div class="form-group">
	      <label for="script">Arguments</label>
	      <input [(ngModel)]="editTask.args" type="text" class="form-control" id="vat" placeholder="Command-line arguments">
	   </div>
	   <div class="form-group">
	      <div class="form-check checkbox">
	         <input [(ngModel)]="editTask.is_aql" class="form-check-input" type="checkbox" value="" id="check1">
	         <label class="form-check-label" for="check1">
	         Is this an AQL script?
	         </label>
	      </div>
	   </div>
	   <button type="button" class="btn btn-primary" (click)="updateScript();scriptModalRef.hide()">Save</button>
	   <button type="button" class="btn btn-secondary" (click)="scriptModalRef.hide()">Cancel</button>
  </div>
</ng-template>