<div class="animated fadeIn">
	<tabset>
		<tab heading="Code">
			<textarea codemirror [content]="content" (value)="setContent($event)">
	
			</textarea>
			<div *ngIf="script.content.length > 0 && compiles" class="alert alert-success">
				Script compiles!
			</div>
			
			<div *ngIf="script.content.length > 0 && compileError.length>0" class="alert alert-warning">
				{{ compileError }}
			</div>

		</tab>
		
		<tab heading="Execution graph">
			
		</tab>
		
		<tab heading="Results">
			{{ script.results }}
		</tab>
		
		<tab heading="Logs">
			<div [innerHTML]="script.logs">
			</div>
		</tab>
	</tabset>
			<button [disabled]="script.running || script.content.length ==0 || !compiles" (click)="run()" type="button" class="btn btn-primary"><i class="icon-control-play"></i>&nbsp;Run</button>


	  
</div>
